:root {
    --principal-fontfamily: 'Playfair Display';
    --secondary-fontfamily: 'Cormorant Garamond';
    --principal-color-text: #8d4b2c;
    --principal-backgroundColor: #FAF0E6;
    --titles-size: 3.0em;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--principal-backgroundColor);
    overflow-x: hidden;
    display: flex;
}

/* Inicio do Header */

header {
    background-color: var(--principal-backgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    transition: all, 0.6s;
}

.ocult {
    transform: translateY(-100px);
}

.logo {
    width: 70px;
    padding: 12px;
    margin-left: 10px;
}

.bt-reservar {
    border: 1px solid transparent;
    padding: 8px 14px;
    color: white;
    background-color: #B22222;
    border-radius: 16px;
    margin-right: 30px;
    box-sizing: content-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.178);
}

.bt-reservar:hover {
    color: white;
    background-color: #d11212;
    border-color: transparent;
    transform: translate(-2px, -2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

nav a {
    display: inline-block;
    color: #3E2723;
    padding: 8px 10px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.4em;
    transition: all, 0.2s ease;
    box-sizing: border-box;
    text-decoration: none;
}

nav a:hover {
    color: #b91b1b;
    cursor: pointer;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

/* Fim do Header */

/* Seção do Parallax */

.parallax {
    background-image: url(../assets/imgs/bg/bg_parallax-blur2.jpg);
    width: 100vw;
    height: 85vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom, right;
    padding-top: 75px;
}

#img-main-parallax {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-main {
    width: 23em;
    background-color: var(--principal-backgroundColor);
    border-radius: 50px;
    padding: 50px 70px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.534);
}

/* Inicio do Main */

main {
    padding-bottom: 1000px;
    background-color: var(--principal-backgroundColor);
}

#about {
    width: 100vw;
    height: 70vh;
}


#about-description {
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description-img img {
    width: 25em;
    height: 23em;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.178);
}

#description-text {
    margin-left: 100px;
    width: 40%;
}

#description-text p {
    margin-bottom: 20px;
}

#description-text .desc-title {
    font-family: var(--principal-fontfamily);
    color: var(--principal-color-text);
    font-size: 1.9em;
    font-weight: 400;
}

#description-text .text {
    text-align: justify;
    font-family: var(--secondary-fontfamily);
    width: 500;
    font-size: 1.4em;
}

#description-text .conclusion {
    text-align: justify;
    font-family: var(--secondary-fontfamily);
    width: 500;
    font-size: 1.4em;
}

#description-img-chef {
    gap: 1em;
    display: inline-flex;
}

#description-img-chef img {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

#description-about-chef {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#description-about-chef p {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

#description-about-chef .name-chef {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
    color: var(--principal-color-text);
}

#description-about-chef .about-chef {
    color: rgba(0, 0, 0, 0.589);
    font-size: 18px;
}

/* Seção Menu */

#menu {
    width: 100vw;
    height: 82vh;
    background-color: #fcdbc7;
}


#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#buttons button {
    background-color: white;
    border: none;
    padding: 16px 28px;
    font-family: 'Montserrat';
    color: var(--principal-color-text);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all, 0.3s;
}

#buttons button:hover {
    color: white;
    background-color: var(--principal-color-text);
}

 
#buttons button.btActivate {
    background-color: rgb(150, 23, 23);
    color: white;
}

#content-menu {
    display: flex;
    justify-content: center;
}

#ent-content, #pas-content, #sob-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 60vw;
}

.meat {
    width: 25vw;
    border-radius: 8px;
    padding: 30px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.178);
}

.meat:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.331);
}

.meat h2 {
    font-family: var(--secondary-fontfamily);
    margin-bottom: 6px;
    font-size: 26px;
    color: var(--principal-color-text);
}

.meat p {
    font-family: 'Montserrat';
    font-size: 18px;
}

.price {
    color: rgba(49, 109, 49, 0.795);
    font-family: 'montserrat';
    font-size: 16px;
}

#complete-menu button:hover {
    background-color: #5a3f3ad2;   
}

.title {
    padding-top: 60px;
    display: flex;
    margin-bottom: 55px;
    justify-content: center;
    align-items: center;
}

.title p {
    font-family: var(--principal-fontfamily);
    color: var(--principal-color-text);
    font-size: var(--titles-size);
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.title p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #961717;
    width: 10vw;
    height: 2px;
}


#gallery-photos {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13.5px;
    margin-bottom: 90px;
}

.card-photo {
    width: 23vw;
    height: 60vh;
}

.texto {
    display: flex;
    transform: translateY(-97%);
    width: 500px;
    height: 440px;
    opacity: 0;
    transition: all 0.45s ease;
    border-radius: 25px;
    color: white;
    font-family: 'montserrat';
    font-weight: 400;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: underline;
    margin: 0 2rem;
}

.texto:hover {
    opacity: 1;
    transform: translateY(-101%);
    background-color: rgba(0, 0, 0, 0.726);
}

.slider {
    height: 30rem;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
}

.slide {
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
}

.slide img {
    object-fit: cover;
    width: 500px;
    height: 440px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center bottom;
    margin: 0 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.478);
}

.btn {
    font-size: 2.5rem;
    padding: 2rem;
    color: #888;
    cursor: pointer;
}

.right {
    position: relative;
    right: 2%;
}
.left {
    position: relative;
    left: 1%;
}

.bruschetta img {
    object-position: center;
    object-fit: cover;
}

.lasagna img {
    object-position: center;
    object-fit: cover;
}

.prosciutto img {
    object-position: center bottom;
    object-fit: cover;
}

.panna img {
    object-position: center;
    object-fit: cover;
}

.carbonara img {
    object-position: center;
    object-fit: cover;
}

/* Seção reserva */

#reserve {
    width: 100vw;
    height: 90vh;
    background-image: url(../assets/imgs/bg/bg-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-reserve {
    
}

.title-reserve p {
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6)
}

.title-reserve p::after {
    background-color: white;
}

#reserve-form {
    width: 815px;
    background-color: white;
    height: 500px;
    border-radius: 12px;
    padding: 35px;
}

#reserve-form label {
    font-family: 'Montserrat';
    font-size: 16px;
}

#reserve-form input {
    width: 360px;
    height: 30px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 18px;
    border-color: rgba(128, 128, 128, 0.603);
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-family: 'Montserrat';
}

#form-left {
    display: inline-block;
    margin-right: 15px;
}

#form-right {
    display: inline-block;
}

#reserve-form select {
    width: 395px;
    height: 50px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 18px;
    border-color: rgba(128, 128, 128, 0.603);
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-family: 'Montserrat';
}

#reserve-form .obs {
    width: 780px;
    height: 50px;
}

#reserve-form textarea {
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 18px;
    border-color: rgba(128, 128, 128, 0.603);
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-family: 'Montserrat';
}

#reserve-form #btReservar {
    width: 100%;
    height: 50px;
    background-color: #b11010;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.2s;
    cursor: pointer;
}

#reserve-form button:hover {
    background-color: #860d0d;
}

.ocult {
    visibility: hidden;
}

#pop_up {
    opacity: 0;
    width: 430px;
    height: 115px;
    background-color: rgb(124, 6, 6);
    position: fixed;
    transform: translate(1430px, 800px);
    padding: 12px;
    border-radius: 12px;
    border: 3px solid rgb(112, 1, 1);
    cursor: default;
    transition: opacity 0.5s ease;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#pop_up.visivel {
    opacity: 1;
}

#pop_up p {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'montserrat';

}

.oculto {
    display: none;
}