* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 2.5rem;
    padding: 2rem;
    color: #888;
    cursor: pointer;
}
.slider {
    height: 30rem;
    width: 100vw;
    display: flex;
    overflow: hidden;
    position: relative;
}
.slides {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.slides img {
    width: 40rem;
    height: 30rem;
    margin: 0 2rem;
    object-fit: cover;
    border-radius: 2rem;
}
.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.75rem;
}
.dots__dot {
    border: none;
    background-color: white;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.active  {
    background-color: #888;
    opacity: 1;
}

